body {
    background: black;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background-color: rgb(177, 128, 24);
    border-radius: 20px;
    border: 2px solid #ffffff6e;
}

main:hover {
    background-color: rgb(177, 24, 24);
}

img {
    height: 50px;
}